# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# SQLite
*.db
*.db-shm
*.db-journal
*.db-wal

# Node
node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
